<div class="">
  <p>
    ¡Felicidades {{referralName}}! Has sido invitado a unirte al programa de Embajadores Solares de Bright.
    Conoce más de nuestro programa en el siguiente video:
  </p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/4_KL1HA7izM" frameborder="0" allowfullscreen>
  </iframe>

  <p>
    Antes de ir a la junta de introducción es necesario que descargues nuestra app con uno de los siguientes links:
  </p>

  <ul>
    <li>
      <a href="https://play.google.com/apps/testing/mx.thinkbright.amby" class="btn btn-default">Para android, entra aquí</a>
    </li>
    <li>
      <a href="https://appsto.re/mx/I0AKgb.i" class="btn btn-default">Para IOs, entra aquí</a>
    </li>
  </ul>
  <p>
    Después de la junta obtendrás tu código especial para tener acceso completo.
  </p>
  <p>
    Por último nuestros mejores embajadores completan el siguiente curso antes de la junta para venir preparados. Lo puedes tomar <a href="https://rise.articulate.com/share/er2jCxpmU2lBl1UARlfPg1FeXvnxe4_g">AQUI</a>.
  </p>
  <p></p>
  <p>
    ¡Te vemos muy pronto!
  </p>
  <p></p>

  <p>Equipo de</p>
  <img width="100" height="50" src="https://www.thinkbright.mx/img/bright-logo.svg" alt="BRIGHT">
</div>
